@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Fale Conosco";
}
<style>
    body {
        font-family: Afacad, sans-serif;
        background-color: #F8EAF6;
    }

    .contact-section {
        padding: 50px 0;
        text-align: center;
    }

    .contact-card {
        background: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<section id="fale-conosco" class="contact-section">
    <div class="container">
        <h2 class="text-center" style="color: #9370DB;">Fale Conosco</h2>
        <p class="text-center">Entre em contato por um dos nossos canais abaixo:</p>
        <div class="row">

            <div class="col-md-4">
                <div class="contact-card text-center">
                    <img src="~/images/whatsapp-icon.svg" alt="WhatsApp" width="50" height="50" class="mx-auto d-block">
                    <h3 class="text-center" style="color: #9370DB;">WhatsApp</h3>
                    <p><a href="https://api.whatsapp.com/send?phone=5516994593131" target="_blank">Clique aqui para agendar</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-card text-center">
                    <img src="~/images/insta.svg" alt="Instagram" width="50" height="50" class="mx-auto d-block">
                    <h3 class="text-center" style="color: #9370DB;">Instagram</h3>
                    <p><a href="https://www.instagram.com/contrera.pilatesefisioterapia/" target="_blank">Siga-nos no Instagram</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-card text-center">
                    <img src="~/images/map-icon.svg" alt="Localização" width="50" height="50" class="mx-auto d-block">
                    <h3 class="text-center" style="color: #9370DB;">Localização</h3>
                    <p>Santa Ernestina - SP, 15970-000</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3713.213428725613!2d-48.398172525376644!3d-21.46014068777484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b917004e8eda0d%3A0xabb0a960b182ddf9!2sClinica%20Coontrera!5e0!3m2!1spt-BR!2sbr!4v1745516283456!5m2!1spt-BR!2sbr" 
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
