@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="status-page-container" data-aos="fade-up">
    <div class="icon-status icon-denied">
        <i class="fas fa-user-lock"></i>
    </div>
    <h1 class="title-status">@ViewData["Title"]</h1>
    <p class="message-status">
        Você não tem permissão para acessar esta página ou recurso.
        Se você acredita que isso é um erro, por favor, contate o administrador do sistema.
    </p>

    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            <i class="fas fa-home me-2"></i> Voltar para a Página Inicial
        </a>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <form asp-controller="Conta" asp-action="Logout" method="post" class="d-inline">
                 @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-secondary ms-2" style="border:1px solid; border-color: var(--bs-btn-border-color);">
                    <i class="fas fa-sign-out-alt me-2"></i> Sair e tentar com outra conta
                </button>
            </form>
        }
    </div>
</div>
@* MARCOS PAULO CALERA *@
